---
import RequestBudget from "@/components/RequestBudget.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  description="Web Oficial de NM Telecom SAC, Empresa dedicada al servicio de redes e infraestructura para empresas"
  title="NM Telecom SAC - Contacto"
>
  <div class="my-8 max-w-max mx-auto">
    <h2 class="items-center text-center text-primary text-4xl font-bold">
      Contáctanos
    </h2>
    <RequestBudget />
  </div>
</Layout>
