---
import Layout from "@/layouts/Layout.astro";
import FormContact from "@/sections/FormContact.astro";
---

<Layout
  description="Web Oficial de NM Telecom SAC, Empresa dedicada al servicio de redes e infraestructura para empresas"
  title="NM Telecom SAC - Redes e Infraestructura"
>
  <div class="my-8">
    <h2 class="items-center text-center text-primary text-4xl font-bold">
      Contáctanos
    </h2>
    <FormContact />
  </div>
</Layout>
