---
import Typography from "@/components/Typography.astro";

interface Props {
  readonly name: string;
}

const { name } = Astro.props;
---

<Typography
  as="h4"
  variant="boxer-title"
  color="textDarkMode"
  class:list={"boxer-title mb-4 text-pretty"}
>
  <span class="text-lg">{name}</span>
</Typography>

<style>
  .boxer-title {
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  }
</style>
