---
import Typography from "@/components/Typography.astro";
import { CUSTOMERS } from "@/utils/customers";
---

<section class="mb-40">
  <Typography
    as="h3"
    variant="h3"
    color="textDarkMode"
    class:list={"text-center lg:mt-10"}
  >
    Nuestros Clientes
  </Typography>
  <Typography
    as="p"
    variant="body"
    color="textDarkMode"
    class:list={"mt-4 text-center"}
  >
    Respaldan su confianza en nuestros servicios profesionales
  </Typography>
  <div
    class="my-10 flex flex-col md:mt-12 px-3 md:grid grid-cols-2 gap-8 md:grid-cols-3"
  >
    {
      CUSTOMERS.map(({ id, name, url }) => (
        <a
          class="relative group flex h-24 py-5 items-center justify-center bg-gradient-to-b from-white/10 via-transparent to-transparent hover:from-white/2 md:h-32"
          href={url}
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            loading="lazy"
            src={`/customers/${id}.svg`}
            alt={`Logo del cliente ${name}`}
            class="py-8 max-w-32 h-auto transition object-contain group-hover:scale-110 group-hover:opacity-70"
          />
        </a>
      ))
    }
  </div>
</section>
