<nav class="mt-10 w-full border-t-4 h-10 border-white p-4">
  <ul class="flex w-full gap-4 mt-6 text-center px-4">
    <li
      class="transition hover:scale-110 inline-block flex-grow w-1/5 text-center text-4xl mx-auto text-logodark dark:text-neutral-50 hover:text-logonmt hover:border-b-4"
    >
      <a href="/nosotros" class="text-center py-2">Nosotros</a>
    </li>
    <li
      class="transition hover:scale-105 inline-block flex-grow w-1/5 text-center text-4xl mx-auto text-logodark dark:text-neutral-50 hover:border-b-4 hover:text-logonmt"
    >
      <a href="/servicios" class="text-center py-2">Soluciones</a>
    </li>
    <li
      class="transition hover:scale-110 inline-block flex-grow w-1/5 text-center text-4xl mx-auto text-logodark dark:text-neutral-50 hover:text-logonmt hover:border-b-4"
    >
      <a href="/clientes" class="text-center py-2">Clientes</a>
    </li>
    <li
      class="transition hover:scale-110 inline-block flex-grow w-1/5 text-center text-4xl mx-auto text-logodark dark:text-neutral-50 hover:text-logonmt hover:border-b-4"
    >
      <a href="/contacto" class="text-center py-2">Contacto</a>
    </li>
  </ul>
</nav>
