---
interface Props {
  description: string;
  title: string;
}
const { title } = Astro.props;
---

<div class="flex w-full items-center rounded-full">
  <div class="flex-1 border-b dark:border-neutral-50 border-logodark"></div>
  <span
    class="text-logodark text-sm font-normal leading-8 px-8 py-3 dark:text-neutral-100"
  >
    {title}
  </span>
  <div class="flex-1 border-b dark:border-neutral-50 border-logodark"></div>
</div>;

