---
import Nmlogo from "@/components/Nmlogo.astro";
import NMT from "@/components/NMT.astro";
import { NMT_INFO } from "@/utils/consts";

var today = new Date();
var currentYear = today.getFullYear();
---

<footer class="-top-10 h-full text-neutral-50">
  <div
    class="flex flex-col justify-around h-full items-center md:w-11/12 md:flex-row md:py-2 lg:mx-auto"
  >
    <div
      class="justify-center items-center h-1/3 md:mx-auto md:flex-grow w-1/3"
    >
      <div class="scale-125 w-full flex justify-center items-center mb-5">
        <a href="./">
          <Nmlogo />
        </a>
      </div>
    </div>
    <div
      class="justify-center items-center h-1/3 w-full text-center md:flex-grow md:w-1/3 text-sm md:text-center lg:text-base lg:font-medium"
    >
      <p class="mt-2 sm:mt-1 md:w-full md:mx-auto">
        Calle Enrique Cipriani 266, La Victoria
      </p>
      <p class="mt-2 sm:mt-0 md:w-full md:mx-auto">Cel: 954-193-884</p>
      <p class="mt-2 sm:mt-0 md:w-full md:mx-auto">Cel: 995-863-645</p>
      <p class="mt-2 sm:mt-0 md:w-full md:mx-auto">
        E-mail:
        <a
          href="
        mailto:info@nmtelecom.pe?Subject='Solicito%20cotizacion%20del%20servicio%20de"
          '
        >
          info@nmtelecom.pe
        </a>
      </p>
    </div>
    <div
      class="justify-center items-center h-1/3 w-full text-center md:flex-grow md:w-1/3"
    >
      <h4
        class="gap-x-2 justify-around text-center my-auto px-8 py-4 max-w-full text-xl md:text-sm md:py-0 md:mt-0 lg:text-xl lg:font-semibold"
      >
        Nuestras Redes Sociales
      </h4>
      <aside class="justify-center my-1 flex flex-row gap-x-10 w-full mt-2">
        <a
          class="whatsapp-btn transition inline-block hover:scale-125 hover:opacity-70"
          href="https://wa.me/+51967761056?text=Hola%20quisiera%20informacion%20sobre%20los%20servicios%20que%20brindan"
          target="_blank"
          rel="noreferrer"
          ><img
            alt="whatsapp telecom"
            class="w-10 md:w-8"
            src="/icons/wsp.svg"
          />
        </a>
        <a
          class="footer__fb hover:scale-125 hover:opacity-70 transition inline-block"
          href="https://www.facebook.com/nmtelecom.pe/"
        >
          <img alt="facebook telecom" class="w-10 md:w-8" src="/icons/fb.svg" />
        </a>
      </aside>
    </div>
  </div>

  <div class="text-center p-1 text-xs">
    <span>©Copiright NM TELECOM {NMT_INFO.DATE_CREATED} - {currentYear}</span>
  </div>
</footer>
