---
import Carrousel from "@/components/Carrousel.astro";
import HeroLogo from "@/components/HeroLogo.astro";
import Navbar from "@/components/Navbar.astro";
---

<section class="flex flex-col gap-4 m-auto w-9/12 items-center pt-10">
  <HeroLogo />
  <Navbar class="border-4 border-white border-dashed rounded-lg" />
</section>
