---
import { ViewTransitions } from "astro:transitions";
import Footer from "@/sections/Footer.astro";
import "@fontsource-variable/jost";
import Header from "@/sections/Header.astro";
import NMT from "@/components/NMT.astro";
import Background from "@/components/NoiseBackgroundImage.astro";
import Divider from "@/components/Divider.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Empresa dedicada al servicio de implementacion de redes e infraestructura para empresas"
    />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="google-site-verification"
      content="k90ap6VgrWAnJdmYfAP-PoJNAC6cqvctrribm9SuaJo"
    />
    <link rel="icon" type="image/svg+xml" href='/fv.svg' />
    <link rel="canonical" href="https://nmtelecom.pe" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <!-- Google tag (gtag.js) -->

  <body
    class="bg-fondolight dark:bg-fondodark animate-fade-in animate-delay-200"
    id="swup"
    class="transition-fade"
  >
    <Background />

    <div class="hidden lg:block lg:pt-14 mx-auto w-4/6"><NMT /></div>
    <Header />
    <div class="">
      <slot class="justify-center px-2 lg:px-10 pt-10 pb-10 mx-auto" />
    </div>
    <Divider />
    <Footer />
  </body>
</html>
<style is:global>
  html {
    font-family: "Jost Variable", system-ui, sans-serif;
    overflow-x: hidden;
    overscroll-behavior: none;
  }
  @supports selector(::-webkit-scrollbar) {
    @media (hover: hover) {
      ::-webkit-scrollbar {
        width: 10px;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: theme("colors.primary");
        border: 2px solid transparent;
        background-clip: content-box;
      }

      ::-webkit-scrollbar-thumb:active {
        background-color: #666;
      }

      ::-webkit-scrollbar-track {
        background: var(--background-image);
      }

      ::-webkit-scrollbar-corner {
        background: var(--background-image);
      }
    }
  }

  @supports not selector(::-webkit-scrollbar) {
    * {
      scrollbar-color: theme("colors.primary") transparent;
      scrollbar-width: thin;
    }
  }

  .anchor-main-content {
    pointer-events: none;
  }

  .anchor-main-content:focus {
    pointer-events: all;
  }
</style>
