---
import { ViewTransitions } from "astro:transitions";
import KonamiCode from "@/components/Konamicode.astro";
import Noise from "@/components/Noise.astro";
import Footer from "@/sections/Footer.astro";
import Hero from "@/sections/Hero.astro";
import type { Preload } from "@/types/Preload"
import "@fontsource-variable/jost";

interface Props {
  description: string;
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Empresa dedicada al servicio 
    de implementacion de redes e infraestructura para empresas"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Favicon2.svg" />
    <link rel="canonical" href="https://nmtelecom.pe" />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="bg-fondolight dark:bg-primary animate-fade-in animate-delay-200">
    <Noise />
    <Hero />
    <div class="">
      <slot class="justify-center px-2 lg:px-10 pt-10 pb-10 mx-auto"/>
      <KonamiCode />
    </div>

    <Footer />
  </body>
</html>
<style is:global>
  html {
    font-family: "Jost Variable", system-ui, sans-serif;
    /* background: #231f20; */
    /* color-scheme: dark light; */
    overflow-x: hidden;
    overscroll-behavior: none;
  }
</style>
